<!doctype html>
<html lang="es" ng-app="apesol">
    <head>
        <meta charset="utf-8">
        <title>Curso de AngularJS</title>
        <script src="js/lib/angular/angular.min.js"></script>
        <!-- Anadimos CSS bootstrap/3.3.5 -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Usamos app.js para crear los ejemplos de controladores -->
        <script src="6_app.js"></script>
    </head>
    <body ng-controller="registroController">
      <!-- Controlador creando una lista de alumnos que son ingresados por un formulario -->
      <div class="container">
        <form>
          <h2>Formulario de ingreso de datos</h2>
          <div class="form-group">
            <label>Ingresa Nombre</label>
            <input ng-model="alumno.nombre" class="form-control" placeholder="Nombre">
          </div>
          <div class="form-group">
            <label>Ingresa Apellido</label>
            <input ng-model="alumno.apellido" class="form-control" placeholder="Apellido">
          </div>
          <!-- Boton Agrega -->
          <button ng-show="esAgregar" class="btn btn-primary" type="button" ng-click="agregarAlumno($event)">Agregar alumno</button>

          <!-- Boton Actualiza -->
          <button ng-show="!esAgregar" class="btn btn-danger" type="button" ng-click="actualizarAlumno($event)">Actualizar alumno</button>

      </form>
        <p>
          El alumno ingresado se llama:
          <span ng-bind="alumno.nombre"></span> <span ng-bind="alumno.apellido"></span>
        </p>
        <hr/>
        <h3>Listado de Alumnos ingresado:</h3>
        <table class="table table-condensed">
            <thead>
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="persona in alumnos">
                <th>{{$index + 1}}</th>
                <th>{{persona.nombre}}</th>
                <th>{{persona.apellido}}</th>
                <th>
                  <button class="btn btn-default" type="button" ng-click="eliminarAlumno($event, $index)">Eliminar</button>
                  <button class="btn btn-default" type="button" ng-click="editarAlumno($event, $index, persona)">Editar</button>
                </th>
              </tr>
            </tbody>
        </table>
      </div>
    </body>
</html>
